<ion-view view-title="Detalle del servicio" class="project-detail" hide-back-button="true">

  <ion-content class="has-header" style="top:0;">

    <div class="header-slideshow-wrapper">
      <div class="header-slideshow-image" 
        style="margin-top:65px; height: 155px; background-image:url(https://maps.googleapis.com/maps/api/staticmap?center={{servicio.coordenadasOrigen}}&zoom={{configMapa.zoom}}&size=375x154&maptype=roadmap{{configMapa.puntosPath}}&key=AIzaSyBxfPmvHbNozhPG_0934HjQV4mb7KoHkXE);">
      </div>

      <!-- &style=element:labels|visibility:off -->
    </div>
    
    <div class="list padding">
      <h4 class="text-center"><span class="positive">{{servicio.estado}}</span></h4>
      <p>{{servicio.descripcion}}</p>
      <div class="item item-divider">
          Datos del proveedor
      </div>
      <a class="item item-icon-left">
        <i class="icon ion-person"></i>
        {{servicio.proveedor.nombre}}
      </a>
      <a class="item item-icon-left" ng-href="mailto:{{servicio.proveedor.usuario.email.email}}">
        <i class="icon ion-email"></i>
        {{servicio.proveedor.usuario.email.email}}
      </a>
      <a class="item item-icon-left" ng-href="tel:{{servicio.proveedor.telefono.telefono}}">
        <i class="icon ion-ios-telephone"></i>
        {{servicio.proveedor.telefono.telefono || 'No tiene'}}
      </a>
      
      <div ng-if="servicio.estado == 'Finalizado'">
        <h5 <div class="text-center" style="letter-spacing:2px;margin-top:15px;margin-bottom: 12px;">Compart&iacute; tu opinion</h5>

        <div class="item item-divider">
          Comentario
        </div>

        <label class="item item-input">
          <textarea placeholder="Agregar un comentario" ng-model="reviewData.comentario" ng-if="!servicio.rating" style="height: 69px"></textarea>
          <p ng-if="servicio.rating">{{servicio.comentario}}&nbsp;</p>
        </label>

        <div class="item item-divider">
          Calificaci&oacute;n
        </div>

        <div class="item item-input">
          <rating ng-model="reviewData.calificacion" max="5" readonly="servicio.rating"></rating>
        </div>

        <button class="button button-block button-balanced" type="submit" ng-if="!servicio.rating" ng-click="doCalificar()">Calificar</button>
      </div>

    </div>

  </ion-content>

</ion-view>
