<ion-view view-title="Calificar" class="project-detail" hide-back-button="true">

  <ion-content class="has-header">

    <div class="header-slideshow-wrapper">

      <hgroup class="header-overlay">
        <h5>atendido por {{servicio.proveedor.nombre}}</h5>
      </hgroup>

    </div>
    
    <form ng-submit="doCalificar()">
      <ion-scroll class="padding">
        <p>{{servicio.descripcion}}</p>

        <h5 <div class="text-center" style="letter-spacing:2px;margin-top:15px;margin-bottom: 12px;">Compart&iacute; tu opinion</h5>

        <div class="list">
          <div class="item item-divider">
            Comentario
          </div>

          <label class="item item-input">
            <textarea placeholder="Agregar un comentario" ng-model="reviewData.comentario" ng-if="!servicio.comentario" style="height: 69px"></textarea>
            <p ng-if="servicio.comentario">{{servicio.comentario}}</p>
          </label>

          <div class="item item-divider">
            Calificaci&oacute;n
          </div>

          <div class="item item-input">
            <rating ng-model="reviewData.calificacion" max="5" readonly="servicio.rating"></rating>
          </div>

          <button class="button button-block button-balanced" type="submit" ng-if="!servicio.rating">Calificar</button>
        </div>

      </ion-scroll>
    </form>

  </ion-content>

</ion-view>
