<ion-view view-title="{{servicio.nombre}}" class="project-detail">

  <ion-nav-bar class="bar bar-dark bar-special">

    <ion-nav-back-button class="button-energized">Volver</ion-nav-back-button>

  </ion-nav-bar>

  <ion-content class="has-header">

    <div class="header-slideshow-wrapper">

      <hgroup class="header-overlay">
        <h5>creado por Andrulo</h5>
      </hgroup>

    </div>

    <ion-scroll class="padding" style="height: 448px">
      <button class="button button-full button-balanced" ng-click="finalizar()">Finalizar servicio</button>
      <h1>{{servicio.nombre}}</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae, cupiditate deserunt dolore dolorem eius eos harum in molestias mollitia nihil nostrum odio praesentium provident quaerat repellat sint veritatis. Laudantium.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae, cupiditate deserunt dolore dolorem eius eos harum in molestias mollitia nihil nostrum odio praesentium provident quaerat repellat sint veritatis. Laudantium.</p>
    </ion-scroll>

  </ion-content>

</ion-view>
