<ion-view view-title="Servicios" class="locations-list" hide-back-button="true">

  <ion-content class="has-header">

    <div class="item item-input-inset item-dark">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Buscar..." ng-model="filterModel">
      </label>
      <button class="button button-small button-clear button-clear" ng-click="filterModel='';">borrar</button>
    </div>

    <ion-scroll style="height:550px">
    
      <ion-list style="height: 275px;" ng-if="usuarioServicios.length">
        <div class="card">
          <div class="item item-divider">
            Como usuario
          </div>
          <div class="item item-text-wrap">
            <ion-item class="item" ng-repeat="servicio in usuarioServicios | filter:filterModel" ui-sref="locations.calificar({ id : servicio.id })">
              <h3>{{servicio.descripcion}}</h3>
              <h5>atendido por {{servicio.proveedor.nombre}}</h5>
              <span ng-class="{ 'balanced' : servicio.estado != 'Solicitado', 'assertive' : servicio.estado == 'Solicitado' }">
                {{servicio.estado}}
              </span>
              <button class="button-clear" style="top:41px;right:10px;position:absolute;">
                <i class="icon ion-chevron-right"></i>
              </button>
            </ion-item>
          </div>
        </div>
      </ion-list>

      <ion-list style="height: 275px;" ng-if="proveedorServicios.length">
        <div class="card">
          <div class="item item-divider">
            Como proveedor
          </div>
          <div class="item item-text-wrap">
            <ion-item class="item" ng-repeat="servicio in proveedorServicios | filter:filterModel" ui-sref="locations.serviciodetalle({ id : servicio.id })">
              <h3>{{servicio.descripcion}}</h3>
              <h5>creado por {{servicio.usuario.nombre}} {{servicio.usuario.apellido}}</h5>
              <span ng-class="{ 'balanced' : servicio.estado != 'Aceptado', 'assertive' : servicio.estado == 'Aceptado' }">
                {{servicio.estado}}
              </span>
              <button class="button-clear" style="top:41px;right:10px;position:absolute;">
                <i class="icon ion-chevron-right"></i>
              </button>
            </ion-item>
          </div>
        </div>
      </ion-list>

    </ion-scroll>

  </ion-content>

</ion-view>
