// dark
$color-anchorage  : #252729; // Main black, for titles, names, nav, huge impact. Base of brand.
$color-detroit    : #818284; // Most body copy, icons, secondary to Anchorage.
$color-portland   : #C4C3C3; // For disabled text and buttons. Also for pre-text input fields.
$color-pittsburgh : #E2E2E2; // Main background color.
$color-syracuse   : #F7F7F7; // For section separation.

// yellow
$color-miami      : #EDAE49; // For links, sharing, and items that bring you away to the web.

// red
$color-tulsa      : #D3596C; // Only for error states, wrong, deletes.

// blue
$color-chicago    : #7AB9DE; // For links, sharing, and items that bring you away to the web.
